.classpath
.project
.settings/
/bin/
!output-test.log
!mavaniPrava/*
!zadnyPohubRuceNaStole/*
!zeStoluDlanemiDoluOtoceniDlaniNahoruAPolozeniRukouZpetNaStul/*
!zNaprazeneRukySDlaniDoluZmacknutiDoPesti/*
!zPolozenychRukouNaStolePravaRuka3xPalecHore/*

